// Define your variable overrides here
$primary: #213b89;
$fmrRed: #a01c1f;
$font-size-base: 0.8rem;
$h1-font-size: 1rem;
$h2-font-size: 1rem;

$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';

// General style overrides and custom classes
body { background:url(./images/bgr-body.png) repeat; color:#333333 }

.fmr-lg-text {font-size: 0.85rem}
.fmr-red {color: $fmrRed;}

.fmr-bordered-area {background: #ffffff; border-width:1px; border-style:solid; border-color:#ddd #cbcbcb #b3b3b3;
 -moz-box-shadow: 0px 1px 3px #b3b3b3;-webkit-box-shadow: 0px 1px 3px #b3b3b3;box-shadow: 0px 1px 3px #b3b3b3;
border-radius: 0.2rem !important;}

.fmr-bordered-area .header {background: #f1f4fb; color:#555555; border-radius: 0.2rem 0.2em !important; 
  padding: 0.6em 0 0.2rem 1rem;}

.fmr-nav {border-width:1px; border-style:solid; border-color:#2f51b2 #264296 #152965; background:url(./images/bgr-vertical-sprite.png) repeat-x 0 0;}

.dropdown-menu.show {
  display: flex;
  width: 420px;
  flex-wrap: wrap;
}

.dropdown-item {
  width: 50%;
}

.fmr-form label {
  font-weight: bold; color: #565656;
}
.fmr-form label.required::after {
  content:" *";
  color: $fmrRed;
}

.fmr-message {
  position:fixed; top:80px; left: 50%; transform: translate(-50%, 0); z-index: 9999;
}

.fmr-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.fmr-tab #tabs h6.section-title{
  color: #eee;
}
.fmr-tab #tabs, .fmr-tab .nav-tabs, .fmr-tab .nav-item.show,
.fmr-tab .nav-link, .fmr-tab .nav-tabs, .fmr-tab .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
}
.fmr-tab .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
}
.fmr-tab .nav-link.active {
  border-bottom: 2px solid !important;
}
.fmr-tab .nav-link:hover {
  border-color: transparent transparent #f3f3f3;
}
.fmr-tab thead{
  background: #f3f3f3;
  color: #333;
}
.fmr-tab a{
  text-decoration: none;
  color: #333
}

.ico-forsale {background:url(./images/forsale.png) no-repeat 0 0; display:inline-block; width:35px; height:12px;}
.ico-forrent {background:url(./images/forrent.png) no-repeat 0 0; display:inline-block; width:37px; height:12px;}

.ico-deact {background:url(./images/deactivated.png) no-repeat 0 0; display:inline-block; width:65px; height:12px;}
.ico-disapp {background:url(./images/disapproved.png) no-repeat 0 0; display:inline-block; width:65px; height:12px;}


/* datepicker style hack */
.vdp-datepicker input.form-control[readonly] {
  background: none !important;
}