// Define your variable overrides here
$primary: #213b89;
$light: #efefef;
$fmrRed: #a01c1f;
$font-size-base: 0.9rem;
$h1-font-size: 1.2rem;
$h2-font-size: 1.1rem;

$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';

// General style overrides and custom classes
body { background:url(./images/bgr-body.png) repeat; color:#333333 }

h1 {text-transform: capitalize;}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.page-item.active .page-link {
  background-color: #eee;
  border-color: #cccccc;
  color: #333;
}

.fmr-logo {background:url(./images/findmyroof.png) no-repeat 0 0;}

.fmr-lg-text {font-size: 0.95rem}
.fmr-md-text {font-size: 0.90rem}
.fmr-sm-text {font-size: 0.80rem}
.fmr-red {color: $fmrRed;}
.fmr-green{ color:#690 !important }
.fmr-blue{ color:#7c97e6 }
.fmr-warning { background:#fbfae9; border:1px solid #f4e5d0; }

.fmr-forsale {background:url(./images/forsale.png) no-repeat 0 0; display:inline-block; width:35px; height:12px;}
.fmr-forrent {background:url(./images/forrent.png) no-repeat 0 0; display:inline-block; width:37px; height:12px;}

.fmr-deact {background:url(./images/deactivated.png) no-repeat 0 0; display:inline-block; width:65px; height:12px;}
.fmr-disapp {background:url(./images/disapproved.png) no-repeat 0 0; display:inline-block; width:65px; height:12px;}

.fmr-photo { width:400px; object-fit: cover; }
.fmr-photo-filename { position: absolute; top:1px; left:1px; background-color: #eee; padding:2px; font-size: 0.80rem; border-radius: 0.2rem}

/* #PropertyPhotos in AdEdit */
#PropertyPhotos .fmr-photo:hover { cursor: move; }

.fmr-bordered-area {background: #ffffff; border-width:1px; border-style:solid; border-color:#ddd #cbcbcb #b3b3b3;
 -moz-box-shadow: 0px 1px 3px #b3b3b3;-webkit-box-shadow: 0px 1px 3px #b3b3b3;box-shadow: 0px 1px 3px #b3b3b3;
border-radius: 0.2rem !important;}

.fmr-bordered-area .header {background: #f1f4fb; color:#555555; border-radius: 0.2rem 0.2em !important; 
  padding: 0.6em 0 0.2rem 1rem; border-bottom: 1px solid #dee2e6}

@media all and (min-width: 768px) {
  .fmr-nav {text-transform: capitalize;
    border-width:1px; border-style:solid; border-color:#2f51b2 #264296 #152965; background:url(./images/bgr-vertical-sprite.png) repeat-x 0 0;
  }
}

@media (max-width: 767px) {
  .fmr-nav {text-transform: capitalize;
    border-width:1px; border-style:solid; border-color:#2f51b2 #264296 #152965;
  }
}

a.far:hover, a.fas:hover { text-decoration: none; cursor: pointer;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); 
}

.dropdown-menu.show {
  display: flex;
  width: 420px;
  flex-wrap: wrap;
}

.dropdown-item {
  width: 50%;
}

.fmr-form label, .fmr-ad-detail label {
  font-size: 0.90rem;
  font-weight: bold; color: #565656;
}

.fmr-ad-detail label {
  margin-bottom: 0.1rem !important;
}

.fmr-form label.required::after {
  content:" *";
  color: $fmrRed;
}

.fmr-message {
  position:fixed; top:80px; left: 50%; width:50%; transform: translate(-50%, 0); z-index: 9999;
}

.fmr-tab #tabs h6.section-title{
  color: #eee;
}
.fmr-tab #tabs, .fmr-tab .nav-tabs, .fmr-tab .nav-item.show,
.fmr-tab .nav-link, .fmr-tab .nav-tabs, .fmr-tab .nav-link.active
{
  color: #0062cc;
  background-color: #ffffff;
  border-color: transparent transparent #e3e3e3;
}
.fmr-tab .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.8rem;
}
.fmr-tab .nav-link.active {
  border-bottom: 1px solid !important;
}
.fmr-tab .nav-link:hover {
  border-color: transparent transparent #e3e3e3;
}
.fmr-tab thead{
  background: #e3e3e3;
  color: #333;
}
.fmr-tab a{
  text-decoration: none;
  color: #333
}

/* datepicker style hack */
.vdp-datepicker input.form-control[readonly] {
  background: none !important;
}

/* photo gallery */
// .image {
//   float: left;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   border: 1px solid #ebebeb;
//   margin: 5px;
// }

ul.pagination {
  margin-bottom: 0;
}

.fmr-map-embed {width: 100%; height: 380px;}
.fmr-map-fullscreen {position: fixed !important; width: 100%; height: 100%; left: 0; top: 0;
  background: rgba(51,51,51,0.9); z-index: 1000;}
  
.debug-css { background:#c00; }